.EditPost_content
    display: flex
    flex-direction: column
    align-items: center 
    background: rgba(255, 162, 162, 0.184)
    width: 500px
    color: white
    font-size: 25px
    height: 100%
    margin-top: 20px

.EditPost_title
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    width: 100%
    background: linear-gradient(15deg, #800080, #00f)
    padding: 10px
    margin-bottom: 20px
    margin-top: 20px
    border-top-right-radius: 15px
    border-top-left-radius: 15px
    height: 100%

.EditPost_body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    width: 100%
    background: linear-gradient(15deg, #00f, #800080)
    padding: 10px
    margin-bottom: 20px
    margin-top: 20px
    border-bottom-right-radius: 15px
    border-bottom-left-radius: 15px
    height: 100%    


.EditPost_photo
    display: flex
    flex-direction: column
    align-items: center
    

.EditPost_input
    display: flex
    width: 410px
    height: 100%

.EditPost_body-content
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    
.EditPost_button
    display: flex
    background-color: yellow
    border-style: none
    height: 40px
    width: 150px
    justify-content: center
    align-items: center
    font-size: 25px
    font-family: 'Syne Mono', monospace
    font-weight: bold
    margin: 20px
    border-radius: 10px