.Follow_buttons
    display: flex
    flex-direction: column
    justify-content: space-around

.Follow_button
    background: rgb(255, 123, 0)
    color: rgb(37,5,182)
    font-weight: bold
    font-size: 20px
    margin: 15px
    width: 100px
    height: 40px
    border: solid 3px
    border-radius: 5px 
    border-top-color:  rgb(255, 171, 93)
    border-left-color: rgb(255, 171, 93)
    border-bottom-color: rgb(130, 63, 1)
    border-right-color:  rgb(130, 63, 1)
    transition: 1s
    box-shadow: inset 0 0 0 rgb(255, 123, 0)

.Unfollow_button
    display: flex
    background-color:  rgb(37,5,182)
    color: rgb(255, 123, 0)
    font-weight: bold
    font-size: 20px
    margin: 15px
    width: 100px
    height: 40px
    border: solid 3px
    border-radius: 5px 
    border-top-color: rgb(84, 84, 254)
    border-left-color: rgb(84, 84, 254)
    border-bottom-color: rgb(0, 0, 76)
    border-right-color:  rgb(0, 0, 76)
    transition:  1s
    box-shadow: inset 0 0 0 0 rgb(37,5,182)

.Unfollow_button:hover
    color: white
    box-shadow: inset 100px 0 0 0 #fa003b
    border-top-color: #ff85a1
    border-left-color: #ff85a1
    border-bottom-color: #79001c
    border-right-color:  #79001c

.Follow_button:hover
    color: white
    box-shadow: inset 100px 0 0 0 #ff003b
    border-top-color: #ff85a1
    border-left-color: #ff85a1
    border-bottom-color: #79001c
    border-right-color:  #79001c