.signin
    box-sizing: border-box
    margin: 0px
    display: flex
    align-items: center 
    z-index: 1
    width: 100%
    @media only screen and (max-width: 600px)
        justify-content: center
        margin-top: 100px

.form
    padding: 50px
    background-color: rgba(3, 1, 6, 0.91)
    display: flex
    flex-direction: column
    align-items: flex-end
    border-radius: 15px
    @media only screen and (max-width: 600px)
        justify-content: center
        margin-top: 50px

.Signin_title
    color: white
    text-shadow: 5px 5px 5px #000000;

.FormEmailInp
    margin: 10px
    border-left: 2px solid rgb(0, 0, 0)
    border-bottom-color:#a0a0dcd9
    border-left-color: #a0a0dcd9
    border-top-color: transparent
    border-right-color: transparent
    border-bottom-left-radius: 10px
    height: 30px
    width: 250px
    color: #a0a0dcd9
    background-color: rgba(47, 5, 89, 0.645)
    padding-left: 10px
    padding-right: 30px
    font-size: 20px

.FormPassInp
    margin: 10px
    border-left: 2px solid rgb(0, 0, 0)
    border-bottom-color: #a0a0dcd9
    border-left-color: #a0a0dcd9
    border-top-color: transparent
    border-right-color: transparent
    border-bottom-left-radius: 10px
    height: 30px
    width: 250px
    color: #a0a0dcd9
    background-color: rgba(47, 5, 89, 0.435)
    padding-left: 10px
    padding-right: 30px
    font-size: 20px

.signupLink
    color: rgb(221, 135, 6)

.signinButton
    display: flex
    background-color: rgb(75, 92, 222)
    justify-content: center
    align-items: center
    width: 100px
    height: 40px
    margin-top: 10px
    font-size: 20px
    font-weight: bolder
    border-radius: 5px
    border: none

.errorMessage
    background-color: rgba(255, 0, 0, 0.7)
    padding: 10px
    border-radius: 21px
    color: white

.Signin_messages
    height: 150px
    width: fit-content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

.down
    display: flex
    background-color: rgb(209, 15, 227)
    border-style: none
    border-radius: 10px
    transition: 0.2s

.FormPass
    z-index : 1
    display: flex
    flex-direction: row
    position: relative
    align-items: center
    justify-content: flex-end
    transition: 5s
    

.material-symbols-outlined
    display: flex
    color: #a0a0dcd9
    font-size: 25px
    z-index: 10
    position: absolute
    margin-right: 26px

.loadimg
    width: 40px
    height: 50px
    transition: 2s