@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

root
    height: 4000px
    

body
    background-image: url("https://i.pinimg.com/originals/e6/87/81/e68781a89933a415669b97ebfe556586.png") 
    background-size: cover 
    background-repeat: no-repeat   
    margin: 0px;
    bottom: 0px
    height: 100%
    width: 100%
    font-family: 'Syne Mono', monospace



.container
    background-color: black
    display: flex
    box-sizing: border-box
    margin: 0px
    flex-direction: column
    display: flex
    width: 100%
    height: 100%


.user
    background-color: rgb(0, 205, 0)
    color: black
    border-style: solid
    border-color: rgb(19, 111, 5)
    border-radius: 35%
    padding: 4px

.users
    background-color: rgba(0, 0, 0,0.5)
    width: fit-content
    height: fit-content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


.Index_footer
    position: fixed
    bottom:0
    width: 100%
    height:100px
    background-color: rgba(128, 0, 128, 0.313)

.Routes
    height: 100%